@font-face {
	font-family: 'UniNeueBook';
	src: url('fonts/UniNeueBook.eot');
	src: url('fonts/UniNeueBook.eot?#iefix') format('embedded-opentype'),
		url('fonts/UniNeueBook.woff') format('woff'),
		url('fonts/UniNeueBook.ttf') format('truetype'),
		url('#') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
	font-family: 'UniNeueHeavy';
	src: url('fonts/UniNeueHeavy.eot');
	src: url('fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'),
		url('fonts/UniNeueHeavy.woff') format('woff'),
		url('fonts/UniNeueHeavy.ttf') format('truetype'),
		url('#') format('svg');
		font-weight: normal;
		font-style: normal;
}

.uppercase {
    text-transform: uppercase !important;
}

.required:after {
    content:" *";
    color: red;
    font-weight: bold;
 }

.aviso-cidade-permitida {
    color:#ffbd00 !important;
    font-weight: bold !important;
}

.qargo-cabecalho-img {
    background-image: url("../img/logo-original-horizonta.png");
    background-size: cover;
}

 .qargo-cabecalho {
     background-color: #250044 !important;     
 }

 .qargo-cabecalho-title {
     color: #00f5ff !important;
     font-weight: bold;
     font-style: italic;
     font-family: 'UniNeueHeavy' !important;
 }

 .qargo-cabecalho-text {
    color: white !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #5f006d !important;
    color: white !important;
}

.nav-link {
    color: #250044 !important;     
}

body {
    color: #5b7c92 !important;
    font-family: 'Uni Neue','UniNeueBook' !important;
}
